[Desktop Entry]
Type = Application
Name = RTLSDR Scanner
Comment = A cross platform Python frequency scanning GUI for the OsmoSDR rtl-sdr library
Exec = python -m rtlsdr_scanner
Categories = HamRadio;
